@import 'variables'
@import 'program-tree'
@import 'search-overlay'

body {
  padding: 0;
}

.btn-straight
  border-radius 0 !important

.col-centered {
  float: none;
  margin: 0 auto;
}

.authentication-container h3 {
  text-align: center;
}

/* Flat UI navbar rewrites */
.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 100;
  padding: 11px 21px;
}

.navbar-nav > li > a {
  font-size: 16px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 100;
}

.show-global.hidden
  display none !important

#programs-box h1
  font-size 36px
  text-align center
  margin-bottom 40px
  font-weight 100

ul.programs-list {
  padding: 0;
  list-style: none;
}

ul.programs-list li {
  display: flex;
}

ul.programs-list li a
  padding 10px 10px
  font-size 18px
  font-weight 100
  display inline-block
  background-color $green-sea
  color white
  border-bottom 1px solid #ecf0f1
  &:hover
    background-color $silver

ul.programs-list li a.program-btn
  flex 1

ul.programs-list li a.program-delete-btn
  background-color $pomegranate
  font-size 14px
  i
    line-height 30px

ul.programs-list li a.add-program-btn
  text-align center
  margin-bottom 10px
  background-color $turquoise

ul.programs-list li a:hover {
  text-decoration: none;
}

.edit-list {
  list-style: none;
  padding: 0;
}

.edit-list ul li {
  /*margin-bottom: 10px;*/
}

.edit-list .li-header {
  margin-bottom: 5px;
}

.edit-list .li-header.li-header-reps {
  margin-bottom: 0;
  margin-left: 20px;
}

.edit-list .li-header.li-header-reps label {
  margin-bottom: 0;
  line-height: 1;
  font-size: 13px;
}

.edit-list .rep-field {
  padding: 0;
  height: 25px;
  line-height: 1;
  width: 40px;
  text-indent: 6px;
  border-width: 1px;
  border-radius: 3px;
}


.edit-list input {
  border-width: 1px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #bdc3c7;
}

.angular-ui-tree-placeholder
  background-color #efefef

.angular-ui-tree-hidden
  background-color red

.destroy  {
  opacity: 0.5;
}

.expand-btn,
.expand-btn:visited
  color $wet-asphalt
  cursor pointer

.add-btn {
  color: #34495e;
  font-size: 13px;
  margin-left: 20px;
}

.add-btn i {
  color: #27ae60;
}

.day-list, .rep-list {
  margin-bottom: 20px;
}

.add-day-btn,
.add-exercise-btn,
.add-set-btn
  font-size 14px
  padding 10px
  font-weight 100
  display block
  line-height 20px
  padding 5px 10px
  span
    vertical-align 1px
  i
    padding 7px 12px 7px 4px
    border-right 1px solid $green-sea
    margin-right 10px;

.nogutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.datepicker
  table
    outline none !important
    border 0 !important
    .h6
      font-size 13px
    .btn.active
      background-color $green-sea
      color white
      border-radius 3px
      .text-info
        color white
    .btn
      border-radius 0
    .btn-default
      background-color #FCFCFC
      color black
    td:focus, td:active, button:focus, button:active
      outline none !important
      border 0 !important

  ul
    left 50% !important
    transform translateX(-50%)
    padding 10px
    &:focus, &:active, li:active, li:focus, li>div:active, li>div:focus
      outline none !important
      border 0 !important
    li:last-child
      overflow auto
      padding 10px 0 0 0 !important

form
  .form-control, .btn
    border-radius 0

#auth-form
  .form-control
    border 1px solid $wet-asphalt

#auth-links
  text-align center
  font-weight 100
  margin-top 20px
  p
    font-size 14px

#exercise-form
  input
    border 1px solid #34495e
    font-weight 100
