@import 'variables'
@import 'program-tree'
@import 'search-overlay'

body {
  padding: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.authentication-container h3 {
  text-align: center;
}

/* Flat UI navbar rewrites */
.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 100;
  padding: 11px 21px;
}

.navbar-nav > li > a {
  font-size: 16px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 100;
}


ul.programs-list {
  padding: 0;
  list-style: none;
}

ul.programs-list li {
  display: block;
}

ul.programs-list li a {
  padding: 20px;
  font-size: 20px;
  display: inline-block;
  background-color: #27ae60;
  color: white;
  border-bottom: 1px solid #ecf0f1;
}

ul.programs-list li a.program-btn {
  width: 200px;
}

ul.programs-list li a.program-delete-btn {
  background-color: red;
}

ul.programs-list li a:hover {
  text-decoration: none;
}

.edit-list {
  list-style: none;
  padding: 0;
}

.edit-list ul li {
  /*margin-bottom: 10px;*/
}

.edit-list .li-header {
  margin-bottom: 5px;
}

.edit-list .li-header.li-header-reps {
  margin-bottom: 0;
  margin-left: 20px;
}

.edit-list .li-header.li-header-reps label {
  margin-bottom: 0;
  line-height: 1;
  font-size: 13px;
}

.edit-list .rep-field {
  padding: 0;
  height: 25px;
  line-height: 1;
  width: 40px;
  text-indent: 6px;
  border-width: 1px;
  border-radius: 3px;
}


.edit-list input {
  border-width: 1px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #bdc3c7;
}

.angular-ui-tree-placeholder
  background-color #efefef

.angular-ui-tree-hidden
  background-color red

.destroy  {
  opacity: 0.5;
}

.expand-btn,
.expand-btn:visited
  color black
  cursor pointer

.add-btn {
  color: #34495e;
  font-size: 13px;
  margin-left: 20px;
}

.add-btn i {
  color: #27ae60;
}

.day-list, .rep-list {
  margin-bottom: 20px;
}

.add-day-btn,
.add-exercise-btn
  font-size 16px
  padding 10px
  font-weight 100
  display block
  line-height 20px

.add-set-btn
  font-size 16px
  padding 7px 10px
  font-weight 100
  display block
  line-height 20px

.add-day-btn,
.add-exercise-btn,
.add-set-btn
  padding 5px 10px
  i
    padding 7px 12px 7px 2px
    border-right 1px solid $green-sea
    margin-right 10px;

.exercise-select {
  display: inline-block;
  width: 250px;
}

.nogutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
