body {
  padding: 0;
}

/* Flat UI navbar rewrites */
.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 100;
  padding: 11px 21px;
}

.navbar-nav > li > a {
  font-size: 16px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 100;
}


ul.programs-list {
  padding: 0;
  list-style: none;
}

ul.programs-list li {
  display: block;
}

ul.programs-list li a {
  padding: 20px;
  font-size: 20px;
  display: inline-block;
  background-color: #27ae60;
  color: white;
  border-bottom: 1px solid #ecf0f1;
}

ul.programs-list li a.program-btn {
  width: 200px;
}

ul.programs-list li a.program-delete-btn {
  background-color: red;
}

ul.programs-list li a:hover {
  text-decoration: none;
}

.edit-list {
  list-style: none;
  padding: 0;
}

.edit-list ul li {
  margin-bottom: 10px;
}

.destroy  {
  opacity: 0.5;
}

.ui-tree-handle {
  display: inline-block;
  margin-left: 5px;
  color: black;
}

.expand-btn, .expand-btn:visited {
  color: black;
}

.remove-btn {
  color: red;
}

.add-btn {
  color: #27ae60;
}
