.arrow
  display inline-block
  position relative
  width 10px
  height 14px
  vertical-align middle

.arrow:before,
.arrow:after
  content ''
  display block
  width 10px
  background-color #2980B9
  height 1px
  position absolute

.arrow:before
  transform rotate(45deg)
  top 3px

.arrow:after
  transform rotate(-45deg)
  bottom 3px

.arrow.arrow-down
  transform translateY(-50%) rotate(90deg) !important
  margin-top 1px
  right 15px

.arrow.arrow-down:after,
.arrow.arrow-down:before
  background-color #fff

.angular-ui-tree-nodes .angular-ui-tree-nodes
  padding 0

.angular-ui-tree .ui-tree-handle
  display none
.angular-ui-tree.angular-ui-tree-enabled .ui-tree-handle
  display block


/**
 * Program tree
 */
.program-tree ul
  list-style none
  padding 0
  margin 0

.exercise-list,
.set-list
  display none
  padding 0
  list-style none
  
.exercise-list--open {
  display block
}

.day-item
  background-color white
  border-bottom 1px solid #efefef

.exercise-item
  & > .program-item-text
    background-color $turquoise;
    color #FFF

  .remove-btn i
    top 2px

.day-item,
.exercise-item
  & > .program-item-text
    height 40px
    padding 0 10px 0 0

.exercise-item,
.set-item
  border-bottom 1px solid #FFF
  &:nth-last-child(2)
    border-bottom 0

.exercise-item.program-item-expanded:nth-last-child(2)
  border-bottom 1px solid #EFEFEF

.set-item > .program-item-text
  height 34px

.program-item
  flexbox()
  flex-wrap wrap
  padding 0
  align-items center

  &.program-item-expanded+.rest-day
    border-top 1px solid #FFF

  &.program-item-expanded > .program-item-text .program-item-value-input
    color white

  &.editing > .program-item-text .program-item-action_noedit
    display none

  & .program-item-text .program-item-action.program-item-action_editing
    display none

  &.editing > .program-item-text .program-item-action_editing
    display block

  &.set-item.editing .program-item-value-input
    padding 0 5px
    width 50px

  &.set-item
    .program-item-value-input
      width auto
      padding 0
    .program-item-actions
      .cancel-edit-btn
        font-size 14px

  &.day-item.rest-day
    .program-item-text
      background-color #EFEFEF
    .expand-btn
      cursor default
    .edit-btn, .program-item-arrow
      display none
    .remove-btn
      padding-right 0

  .program-item-text
    flex(1)
    position relative
    flexbox()
    align-items center
    margin 0
    font-weight 100
    font-size 16px
    transition none

  .program-item-actions
    flexbox()
    align-items center
    order(2)

    .program-item-action
      display block
      position static
      font-size 16px
      line-height 1
      cursor pointer
      &.program-item-arrow
        padding-left 5px
        width 17px
      &:last-child
        padding-right 0
        margin-right 0
    .edit-btn
      transform none

  .program-item-value
    order(1)
    flex(1)
    flexbox()
    & > span
      flex(1)

  &.exercise-item > .program-item-text .program-item-value
    padding 10px

  &.day-item > .program-item-text .program-item-value-input:disabled
    padding 10px

  .program-item-value-input:disabled
    border 0
    outline none
    background-color transparent

  .program-item-value-input
    flex 1
    width 100%
    outline none
    line-height 20px
    border 1px solid $wet-asphalt
    font-size 16px
    font-weight 100
    background-color $clouds
    color $wet-asphalt
    padding 9px

  .program-item-value-text
    padding 10px

  .ui-tree-handle
    top 0
    padding 10px
    color black
    font-size 20px

  &:not(.program-item-expanded):not(.exercise-item):not(.set-item):not(.editing) > .program-item-text:hover
    background-color #efefef
    color $wet-asphalt

  &.program-item-expanded
    & > .program-item-text
      position relative
      color #fff
      box-shadow 0 1px 1px rgba(0, 0, 0, 0.4)

      & > .program-item-actions
        .arrow
          transform rotate(90deg)
          &:after, &:before
            background-color #FFF

    &.day-item > .program-item-text
      z-index 10
      background-color $green-sea

    &.exercise-item > .program-item-text
      z-index 9
      background-color $turquoise

    & > ul
      flex(1 100%)
      display block
      margin-left 10px

  &.exercise-item > .program-item-text > .program-item-actions
    .arrow:after,
    .arrow:before
      background-color #FFF

.program-option
  font-weight 100
  position relative
  margin 10px 0 10px 10px
  .program-option-label
    margin-right 10px

  .edit-btn
    right 5px

.edit-box
  flexbox()
  position relative
  flex(1)
  align-items center
  .edit-btn
    right 5px
  input
    flex 1
    width 100%
    outline none
    line-height 20px
    border 1px solid $wet-asphalt
    font-size 16px
    font-weight 100
    background-color $clouds
    padding 9px

  small
    font-size 12px
    font-weight 100
    margin 0 20px 0 5px

  .remove-btn
    position absolute
    right 0
    top 0

.edit-btn,
.cancel-edit-btn
  cursor pointer
  font-size 14px
  padding 10px 5px
  color $wet-asphalt
  img
    vertical-align top

.cancel-edit-btn
  margin-left 10px

.remove-btn
  padding 10px 5px
  color $pomegranate

.rest-day-btn
  padding 0 5px

.set-item
  position relative

  .ui-tree-handle
    padding 7px 10px

  .set-nr
    padding 7px 8px
    font-size 15px
    line-height 20px
    color #fff
    background-color $wet-asphalt

  .set-text
    padding 0px 10px
    background-color $clouds
    font-size 14px
    color $wet-asphalt
    small
      line-height 1
  .edit-btn,
  .remove-btn
    padding 7px 5px
  .edit-box input
    padding 6px 10px
    line-height 20px
    font-size 14px

#global-edit,
#global-cancel,
#global-finish
  text-align center
  font-size 16px
  font-weight 100
  padding 5px 0 5px 0px
  width 70px
  color #fff
  float right
  cursor pointer

#global-edit,
#global-finish
  background-color $green-sea
#global-cancel
  background-color $silver;

#program-name-box
  font-size 40px

#program-name-box h3
  margin 0
  padding 10px
  position relative
  font-size inherit
  font-weight 100

#program-name-box h3 .edit-btn
  font-size 20px
  right 5px

#program-name-box .edit-box input
  font-size inherit
  padding 9px 10px
  line-height 1
  border 1px solid $wet-asphalt

#program-name-box .edit-box .edit-btn
  font-size 20px

.program-field-box
  flexbox()
  position relative
  .program-field-value
    flex(1)
  .edit-btn
    top 50%
    transform(translateY(-50%))
    position absolute

#program-routine h3
  margin-top 11px
  font-weight 100
  padding-left 10px
  position relative

#reorder-btn
  display inline-block
  font-size 16px
  position absolute
  right 15px
  bottom 0
  cursor: pointer
  &:hover
    color $green-sea
