<div class="row nogutter">
  <form ng-submit="submit()" class="nogutter">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <!-- Name -->
      <div class="program-field-box" id="program-name-box">
        <div class="edit-box"><input type="text" id="program-name-input" ng-model="master.name" placeholder="Track name"></div>
      </div>

      <br>
      <input type="submit" value="Save" class="btn btn-block btn-primary btn-lg btn-straight">
    </div>

    <div class="col-xs-12 col-md-4">

    </div>
  </form>
</div>
