<div class="row">
  <form ng-submit="submit()" class="nogutter">
    <div class="col-xs-12 col-md-4 col-md-offset-1">

      <!-- Name -->
      <div class="program-field-box" id="program-name-box">
        <div class="edit-box"><input type="text" id="program-name-input" ng-model="master.name" placeholder="Program name"></div>
      </div>

      <!-- Goal -->
      <div class="program-option program-field-box" id="program-goal-box">
        <span class="program-option-label">Goal:</span>
        <span class="edit-box">
          <select ng-model="master.goal">
            <option value="Mass gain">Mass gain</option>
            <option value="Fat loss">Fat loss</option>
            <option value="Strength">Strength</option>
          </select>
        </span>
      </div>

      <!-- Level -->
      <div class="program-option program-field-box" id="program-level-box">
        <span class="program-option-label">Level:</span>
        <span class="edit-box">
          <select ng-model="master.level">
            <option value="Beginner">Beginner</option>
            <option value="Intermmediate">Intermmediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </span>
      </div>

      <br>
      <input type="submit" value="Save" class="btn btn-block btn-primary btn-lg btn-straight">

    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-2 program-tree" id="program-routine" ui-tree="treeOptions">
      <h3>Routine</h3>

      <ul class="day-list" ng-model="master.program_days_attributes" data-type="day" ui-tree-nodes="">
        <li ng-repeat="day in master.program_days_attributes" class="program-item day-item" data-type="day" ng-init="dayIndex = $index" ui-tree-node>
          <span ui-tree-handle class="ui-tree-handle glyphicon glyphicon-menu-hamburger"></span>
          <a class="program-item-text expand-btn" ng-click="expandItem($event)">
            <span class="program-item-value" ng-bind="day.name"></span>
            <div class="program-item-actions">
              <div class="program-item-action rest-day-btn" ng-click="toggleRestDay($event, dayIndex)"><i class="glyphicon glyphicon-off"></i></div>
              <edit-day-btn></edit-day-btn>
              <div class="program-item-action remove-btn" ng-click="destroyDay(dayIndex, $event); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></div>
              <div class="program-item-action program-item-arrow"><div class="arrow"></div></div>
            </div>
          </a>

          <!-- exercise list -->
          <ul class="exercise-list" ng-model="day.program_day_exercises_attributes" data-type="exercise" ui-tree-nodes="">
            <li ng-repeat="ex in day.program_day_exercises_attributes" class="program-item exercise-item" data-type="exercise" ng-init="exIndex = $index" ui-tree-node data-type="exercise">
              <span ui-tree-handle class="ui-tree-handle glyphicon glyphicon-menu-hamburger"></span>
              <a class="program-item-text expand-btn" ng-click="expandItem($event)">
                <span class="program-item-value" ng-bind="ex.name"></span>
                <div class="program-item-actions">
                  <div class="program-item-action edit-btn show-global" ng-click="editExercise(ex); $event.stopPropagation();"><i class="glyphicon glyphicon-pencil"></i></div>
                  <div class="program-item-action remove-btn show-global" ng-click="destroyExercise(dayIndex, exIndex, $event); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></div>
                  <div class="program-item-action program-item-arrow"><div class="arrow"></div></div>
                </div>
              </a>

              <!-- set list -->
              <ul class="set-list" ng-model="ex.program_day_exercise_sets_attributes" data-type="set" ui-tree-nodes="">
                <li ng-repeat="set in ex.program_day_exercise_sets_attributes" class="program-item set-item" ui-tree-node data-type="set">
                  <span ui-tree-handle class="ui-tree-handle glyphicon glyphicon-menu-hamburger"></span>
                  <span class="set-nr" ng-bind="$index+1"></span>
                  <a class="program-item-text set-text">
                    <span class="program-item-value"><span ng-bind="set.reps"></span> <small>reps</small></span>
                    <div class="program-item-actions">
                      <edit-set-btn></edit-set-btn>
                      <div class="program-item-action remove-btn show-global" ng-click="destroySet(dayIndex, exIndex, $index, $event); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></div>
                    </div>
                  </a>
                </li>
                <li class="show-global"><a href ng-click="addSet(dayIndex, exIndex)" class="add-set-btn" data-nodrag><i class="glyphicon glyphicon-plus"></i>Add set</a></li>
              </ul> <!-- end set list -->
            </li>
            <li class="show-global"><a href ng-click="addExercise(dayIndex)" class="add-exercise-btn" data-nodrag><i class="glyphicon glyphicon-plus"></i> Add exercise</a></li>
          </ul> <!-- end exercise list -->
        </li>
        <li class="show-global"><a href ng-click="addDay()" class="add-day-btn" data-nodrag><i class="glyphicon glyphicon-plus"></i> Add day</a></li>
      </ul> <!-- end day list -->

    </div>

  </form>

</div>
