<div class="row">
  <form ng-submit="submit()" class="nogutter">
    <div class="col-xs-12 col-md-4 col-md-offset-1">

      <!-- Name -->
      <div class="program-field-box" id="program-name-box">
        <div class="edit-box"><input type="text" id="program-name-input" ng-model="master.name" placeholder="Program name"></div>
      </div>

      <!-- Goal -->
      <div class="program-option program-field-box" id="program-goal-box">
        <span class="program-option-label">Goal:</span>
        <span class="edit-box">
          <select ng-model="master.goal">
            <option value="Mass gain">Mass gain</option>
            <option value="Fat loss">Fat loss</option>
            <option value="Strength">Strength</option>
          </select>
        </span>
      </div>

      <!-- Level -->
      <div class="program-option program-field-box" id="program-level-box">
        <span class="program-option-label">Level:</span>
        <span class="edit-box">
          <select ng-model="master.level">
            <option value="Beginner">Beginner</option>
            <option value="Intermmediate">Intermmediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </span>
      </div>

      <br>
      <input type="submit" value="Save" class="btn btn-block btn-primary btn-lg btn-straight">

    </div>

    <routine-tree></routine-tree>

  </form>

</div>
