<div class="row nogutter">
  <form ng-submit="submit()" class="nogutter">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <!-- Name -->
      <div class="program-field-box" id="program-name-box">
        <div class="edit-box"><input type="text" id="program-name-input" ng-model="master.name" placeholder="Track name"></div>
      </div>

      <br>
      <input type="submit" value="Save" class="btn btn-block btn-primary btn-lg btn-straight">
    </div>

    <div class="col-xs-12 col-md-offset-2 col-md-4 program-tree" id="program-routine">
      <h3>Track</h3>
      <!-- day list -->
      <ul class="day-list" ng-model="master.track_days_attributes">
        <li ng-repeat="day in master.track_days_attributes" class="program-item day-item">
          <a class="program-item-text expand-btn" ng-click="expandItem($event)">
            <span class="program-item-value"><span class="program-item-value-text">{{ day.date | date : 'd MMMM, yyyy' }}</span></span>
            <div class="program-item-actions datepicker">
              <div class="program-item-action edit-btn show-global hidden" ng-click="openPicker($index); $event.stopPropagation()"><i class="glyphicon glyphicon-calendar"></i></div>
              <div class="program-item-action remove-btn show-global hidden" ng-click="destroyDay($index, $event); $event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></div>
              <div class="program-item-action program-item-arrow"><div class="arrow"></div></div>
            </div>
          </a>

          <!-- exercise list -->
          <ul class="exercise-list" ng-model="day.track_day_exercises_attributes">
            <li ng-repeat="ex in day.track_day_exercises_attributes" class="program-item exercise-item">
              <routine-exercise></routine-exercise>

              <!-- set list -->
              <ul class="set-list" ng-model="ex.track_day_exercise_sets_attributes">
                <li ng-repeat="set in ex.track_day_exercise_sets_attributes" class="program-item set-item">
                  <span class="set-nr" ng-bind="$index+1"></span>
                  <a class="program-item-text set-text">
                    <span class="program-item-value">
                      <span><input class="program-item-value-input" type="text" size="2" ng-model="set.reps" disabled="disabled"> <small>reps</small></span>
                      <span><input class="program-item-value-input" type="text" size="2" ng-model="set.weight" disabled="disabled"> <small>kg</small></span>
                    </span>
                    <div class="program-item-actions">
                      <div class="program-item-action program-item-action_noedit edit-btn show-global hidden" ng-click="toggleSetField($event)"><i class="glyphicon glyphicon-pencil"></i></div>
                      <div class="program-item-action program-item-action_editing cancel-edit-btn" ng-click="toggleSetField($event)"><i class="glyphicon glyphicon-check"></i></div>
                      <div class="program-item-action remove-btn show-global hidden" ng-click="destroySet(ex, $index, $event)"><i class="glyphicon glyphicon-remove"></i></div>
                    </div>
                  </a>
                </li>
                <li class="show-global"><a href ng-click="addSet(ex)" class="add-set-btn"><i class="glyphicon glyphicon-plus"></i> Add set</a></li>
              </ul> <!-- end set list -->
            </li>

            <li class="show-global"><a href ng-click="addExercise(day)" class="add-exercise-btn"><i class="glyphicon glyphicon-plus"></i> Add exercise</a></li>
          </ul> <!-- end exercise list -->

        </li>
        <li class="show-global"><a href ng-click="addDay()" class="add-day-btn"><i class="glyphicon glyphicon-plus"></i> Add day</a></li>
      </ul> <!-- end day list -->

    </div>

    <input type="text" class="hidden" id="pick-a-date">

  </form>
</div>
