<div class="row nogutter" id="programs-box">
  <div class="col-sm-12 col-md-4">
    <h1>My programs</h1>
    <ul class="programs-list">
      <li><a href="#/new" class="program-btn add-program-btn">New program</a></li>
      <li ng-repeat="p in programs" class="program">
          <a ng-href="#/program/{{ p.id }}" class="program-btn">{{ p.name }}</a>
          <a href ng-click="deleteProgram({{p.id}})" class="program-delete-btn"><i class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
  </div>
</div>
