<div class="row nogutter">
  <div class="col-xs-12">
    <div id="global-edit" class="clearfix" ng-click="changeGlobalEdit(true, false)">Edit</div>
    <div id="global-finish" class="clearfix hidden" ng-click="changeGlobalEdit(false, false)">Finish</div>
    <div id="global-cancel" class="clearfix show-global hidden" ng-click="changeGlobalEdit(false, true)">Cancel</div>
  </div>

  <div class="col-xs-12 col-md-4 col-md-offset-1">

    <!-- Name -->
    <div class="program-field-box" id="program-name-box">
      <h3 class="program-field-value">
        <span ng-bind="master.name"></span>
        <div class="glyphicon glyphicon-pencil edit-btn show-global hidden" ng-click="editField($event); $event.stopPropagation()"></div>
      </h3>
      <div class="edit-box hidden">
        <input type="text" id="program-name-input" ng-model="master.name">
        <div ng-click="editField($event)" class="glyphicon glyphicon-check edit-btn"></div>
      </div>
    </div>

    <!-- Goal -->
    <div class="program-option program-field-box" id="program-goal-box">
      <span>Goal: </span>
      <span class="program-field-value">
        <span ng-bind="master.goal"></span>
        <div class="glyphicon glyphicon-pencil edit-btn show-global hidden" ng-click="editField($event)"></div>
      </span>
      <span class="edit-box hidden">
        <select ng-model="master.goal">
          <option value="Mass gain">Mass gain</option>
          <option value="Fat loss">Fat loss</option>
          <option value="Strength">Strength</option>
        </select>
        <div class="glyphicon glyphicon-check edit-btn" ng-click="editField($event)"></div>
      </span>
    </div>

    <!-- Level -->
    <div class="program-option program-field-box" id="program-level-box">
      <span>Level: </span>
      <span class="program-field-value">
        <span ng-bind="master.level"></span>
        <div class="glyphicon glyphicon-pencil edit-btn show-global hidden" ng-click="editField($event)"></div>
      </span>
      <span class="edit-box hidden">
        <select ng-model="master.level">
          <option value="Beginner">Beginner</option>
          <option value="Intermmediate">Intermmediate</option>
          <option value="Advanced">Advanced</option>
        </select>
        <div class="glyphicon glyphicon-check edit-btn" ng-click="editField($event)"></div>
      </span>
    </div>

    <!-- Private -->
    <!-- <div class="program-option">
      <span>Private: </span>
      <span>
        {{ master.private ? 'Yes' : 'No' }}
        <div class="glyphicon glyphicon-pencil edit-btn show-global hidden"></div>
      </span>
      <input type="checkbox" ng-model="master.private" class="hidden">
      <span class="edit-box" ng-show="editPrivateField">
        <span class="bootstrap-switch-square">
          <input type="checkbox" ng-model="master.private" id="private-switch" data-on-text="<span class='fui-check'></span>" data-off-text="<span class='fui-cross'></span>">
        </span>
      </span>
      <div class="glyphicon glyphicon-check edit-btn"></div>
    </div> -->
  </div>

  <div class="col-xs-12 col-md-offset-2 col-md-4 program-tree" id="program-routine" ui-tree="treeOptions" data-drag-enabled="treeEnabled">
    <h3>Routine</h3>

    <!-- day list -->
    <ul class="day-list" ng-model="master.program_days_attributes" ui-tree-nodes="">
      <li ng-repeat="day in master.program_days_attributes" class="program-item day-item" ng-class="{ 'rest-day': day.rest_day }" ui-tree-node>
        <span class="ui-tree-handle glyphicon glyphicon-menu-hamburger" ui-tree-handle></span>
        <routine-day></routine-day>

        <!-- exercise list -->
        <ul class="exercise-list" ng-model="day.program_day_exercises_attributes" ui-tree-nodes="">
          <li ng-repeat="ex in day.program_day_exercises_attributes" class="program-item exercise-item" ui-tree-node>
            <span class="ui-tree-handle glyphicon glyphicon-menu-hamburger" ui-tree-handle></span>
            <routine-exercise></routine-exercise>

            <!-- set list -->
            <ul class="set-list" ng-model="ex.program_day_exercise_sets_attributes" ui-tree-nodes="">
              <li ng-repeat="set in ex.program_day_exercise_sets_attributes" class="program-item set-item" ui-tree-node>
                <span class="ui-tree-handle glyphicon glyphicon-menu-hamburger" ui-tree-handle></span>
                <span class="set-nr" ng-bind="$index+1"></span>
                <routine-set><routine-set/>

              </li>
              <li class="show-global hidden"><a href ng-click="addSet(ex)" class="add-set-btn"><i class="glyphicon glyphicon-plus"></i> <span>Add set</span></a></li>
            </ul> <!-- end set list -->
          </li>
          <li class="show-global hidden"><a href ng-click="addExercise(day)" class="add-exercise-btn"><i class="glyphicon glyphicon-plus"></i> <span>Add exercise</span></a></li>
        </ul> <!-- end exercise list -->
      </li>
      <li class="show-global hidden"><a href ng-click="addDay()" class="add-day-btn"><i class="glyphicon glyphicon-plus"></i> <span>Add day</span></a></li>
    </ul> <!-- end day list -->
  </div>
</div>
