<button ng-click='toggleEdit(false)' ng-show='showEditButton'>Edit</button>
<div ng-hide='editing'>
  <h1>{{ program.name }}</h1>
  <p><strong>Goal:</strong> {{ program.goal }}</p>
  <p><strong>Level:</strong> {{ program.level }}</p>
  <p><strong>Days:</strong></p>
  <ul>
    <li ng-repeat="day in program.program_days_attributes">
      <strong>{{ day.name }}</strong>
      <ul>
        <li ng-repeat="ex in day.program_day_exercises_attributes">
          {{ ex.name }}
          <ul>
            <li ng-repeat="(i, set) in ex.program_day_exercise_sets_attributes">
              Set {{ i+1 }}: {{ set.reps }} reps<br>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div ng-show='editing'>
  <form novalidate ng-submit="submit()">
    <h1><input type="text" placeholder="Name" ng-model="master.name" value="{{ master.name }}"> <input type="submit"></h1>
    <div class="form-group"><strong>Goal:</strong><input type="text" ng-model="master.goal" value="{{ master.goal }}"></div>
    <div class="form-group"><strong>Level:</strong><input type="text" ng-model="master.level" value="{{ master.level }}"></div>
    <div class="form-group" ui-tree="treeOptions">
      <strong>Days:</strong>
      <ul ng-model="master.program_days_attributes" class="edit-list" ui-tree-nodes="" data-type="day">
        <li ng-repeat="day in master.program_days_attributes" data-id="{{ day.id }}" style="background-color: lightblue;" ui-tree-node data-type="day">
          <input type="text" name="program_days_attributes[][name]" ng-model="day.name" value="{{ day.name }}"> -- <a href="">remove</a>
          <ul ng-model="day.program_day_exercises_attributes" ui-tree-nodes="" data-type="exercise">
            <li ng-repeat="ex in day.program_day_exercises_attributes" ui-tree-node data-type="exercise">
              <input type="text" name="program_days_attributes[][program_day_exercises_attributes][][name]" ng-model="ex.name" value="{{ ex.name }}"> -- <a href="">remove</a>
              <ul ng-model="ex.program_day_exercise_sets_attributes" ui-tree-nodes="" data-type="set">
                <li ng-repeat="(i, set) in ex.program_day_exercise_sets_attributes" ui-tree-node data-type="set">
                  Set {{ i+1 }}: <input type="number" name="program_days_attributes[][program_day_exercises_attributes][][program_day_exercise_sets_attributes][][reps]" ng-model="set.reps" value="{{ set.reps }}"> reps -- <a href="">remove</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </form>
</div>
