<div class="row">
  <div class="authentication-container col-xs-12 col-md-5 col-centered">
    <h3>sign up</h3>
    <hr>
    <form ng-submit="register()" role="form" id="auth-form">
      <div class="form-group">
        <input type="text" name="email" id="email" ng-model="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" ng-model="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" name="confirm-password" id="confirm-password" ng-model="confirmPassword" class="form-control" placeholder="Confirm password">
      </div>

      <div class="form-actions">
        <input type="submit" value="Sign up" class="btn btn-primary btn-block btn-lg">
      </div>
    </form>

    <div id="auth-links">
      <p>Click to <a href="/#/signin">Sign in</a></p>
    </div>
  </div>
</div>
