<div class="row nogutter" id="programs-box">
  <div class="col-sm-12 col-md-4">
    <h1>My tracks</h1>
    <ul class="programs-list">
      <li><a href="#/track/new" class="program-btn add-program-btn">New track</a></li>
      <li ng-repeat="t in tracks" class="program">
          <a ng-href="#/track/{{ t.id }}" class="program-btn">{{ t.name }}</a>
          <a href ng-click="deleteTrack({{t.id}})" class="program-delete-btn"><i class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
  </div>
</div>
